html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    color: #090909;
}

.logo-img {
    width: 24px;
    height: 24px;
}

.container {
    margin-right: 5%;
    margin-left: 5%;
}

header p {
    margin: 0;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    gap: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

#hero-section {
    background-image: url("/images/article-hero.png");
    background-size: cover;
    min-height: 300px;
    color: white;
    display: flex;
}

.new-date {
    font-size: 0.75rem;
    margin: 0;
}

.hero-items {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-items h1 {
    margin: 0;
}

.hero-items p {
    margin-top: 0;
    font-weight: 300;
}

.news img{
    width: 100%;
    margin: 1.5em auto;
    display: block;
}

.news h2, p {
    margin: 0;
}

.description {
    padding-bottom: 1em;
}

.news .description {
    color: #505050;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
}

#personal-info img {
    border-radius: 100px;
    width: 150px;
}

#recent {
    margin-top: 2em;
    text-align: center;
}

#personal-info p{
    margin: 1em 0;
}

@media (min-width: 768px) {
    #grid {
        grid-template-columns: repeat(3, 1fr);
    }

    header {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #hero-section {
        background-image: url("/images/article-hero-big.png");
        background-position: 20%;
        min-height: 70%;
    }

    #hero-section p {
        max-width: 40%;
    }
}